:root {
  font: 16px / 1 sans-serif;
  font-family: 'Open Sans', sans-serif;
}

html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100%;
}
/* Home component begins */
.home-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
  background-color: #eec170;
}
.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resume p {
  width: 40%;
  text-align: justify;
  margin: 0.5rem 0rem;
}
.resume h1 {
  font-family: 'Luckiest Guy', cursive;
  margin: 0.5rem 0rem;
}
.language-section {
  display: flex;
  align-items: top;
}
.language-word {
  margin-top: 0.3rem;
}
.search-city-section {
  display: flex;
  margin: 1rem;
}
.city-section {
  flex: 1;
  margin: 0.3rem 0 0 0;
}
.text-section {
  flex: 1;
}
.button-section {
  flex: 1;
}
.language-section {
  display: flex;
  justify-content: top;
}
.logIn-signUp-section {
  display: flex;
}
.logIn-signUp-section p {
  padding-left: 1rem;
  padding-right: 1rem;
}
/* Home component ends */
/* LocalList component begins */
.local-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eec170;
  border-radius: 1rem;
  margin: 2rem;
}
.local-list table {
  text-align: center;
}
.local-list th {
  padding: 0.5rem;
}
.local-list td {
  padding: 0.5rem;
}
/* LocalList component ends */
/* LocalRegistration component begins */
.local-registration-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eec170;
}
/* LocalRegistration component ends */
/* VolunteerRegistration component begins */
.volunteer-registration-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eec170;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
/* VolunteerRegistration component ends */
/* CommentRegistration begins */
.comment-registration-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eec170;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
/* CommentRegistration ends */
/* Style to all forms begin */
.form-row {
  padding: 0.5rem 0;
  display: flex;
}
.form-row label {
  padding-right: 0.5rem;
}
.form-row input {
  flex: 1;
}
/* Style to all forms end */
/* LocalDetail component begins */
.main-section {
  display: flex;
  margin: 5rem;
}
.detail-volunteer,
.comment-list {
  flex: 1;
}
.comment-list {
  display: flex;
  flex-flow: row wrap;
  background-color: #f58549;
  padding: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.detail-volunteer {
  display: flex;
  flex-direction: column;
}
.volunteer-list {
  flex: 1;
  background-color: #f2a65a;
  padding-left: 1rem;
  border-bottom-left-radius: 1rem;
}
.frame-picture {
  height: 10%;
  border: 0.1rem solid black;
}

.volunteer-list img {
  height: 100%;
  border: 0.1rem solid red;
  object-fit: scale-down;
}

.detail-section {
  flex: 1;
  background-color: #eec170;
  border-top-left-radius: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
}
/* LocalDetail component begins */
