:root {
  font: 16px / 1 sans-serif;
  font-family: 'Open Sans', sans-serif;
}

html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100%;
}
/* Home component begins */
h1 {
  font-family: 'Luckiest Guy', cursive;
}
a {
  margin: 0 1rem 1rem 1rem;
}

.home-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
}
.language-section {
  display: flex;
  align-items: top;
}
.language-word {
  margin-top: 0.3rem;
}
.search-city-section {
  display: flex;
  margin: 1rem;
}
.city-section {
  flex: 1;
  margin: 0.3rem 0 0 0;
}
.text-section {
  flex: 1;
}
.button-section {
  flex: 1;
}
.language-section {
  display: flex;
  justify-content: top;
}
/* Home component ends */
/* LocalList component begins */
.local-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.local-list table {
  text-align: center;
}
.local-list th {
  padding: 0.5rem;
}
.local-list td {
  padding: 0.5rem;
}
/* LocalList component ends */
/* LocalRegistration component begins */
.local-registration-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* LocalRegistration component ends */
/* VolunteerRegistration component begins */
.volunteer-registration-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* VolunteerRegistration component ends */
/* CommentRegistration begins */
.comment-registration-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* CommentRegistration ends */
.form-row {
  padding: 0.5rem 0;
  display: flex;
}
.form-row label {
  padding-right: 0.5rem;
}

.form-row input {
  flex: 1;
}
